html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  background-color: #fff;
  color: #837D88;
  font-family: "Karla", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  display: block;
  margin: 50px;
}

.container {
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.site-header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.we-different {
  font-family: "DM Serif Display", "Times New Roman", serif;
}

.imkoniyatlar h3 {
  font-family: "DM Serif Display", "Times New Roman", serif;
}

.find-out {
  font-family: "DM Serif Display", "Times New Roman", serif;
}


.navbolimlari {
  display: flex;
}

.navbolimlari a {
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #837D88;
}

.navbolimlari a:hover{
color: #2C2830;
cursor: pointer;
}

.navbolimlari li {
  list-style: none;
  margin-right: 30px;
  margin-bottom: 31px; ;
}

.viev-plans-header a{
  border: 2px solid rgb(0, 0, 0);
  margin-right: 0px;
  font-family: Karla;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 15px;
text-align: center;
letter-spacing: 1.5px;
padding: 13px 28px;
color: #2C2830;
transition: all 0.5s ease;
}

.viev-plans-header a:hover{
background-color: #2C2830;
color: #fff;
border: 1.5px solid #2C2830;
box-sizing: border-box;
cursor: pointer;
}

/* HERO QISM */

.family {
background-color: #2D2641;
flex-grow: 1;
align-items: center;
}

.family-alltexts {
  width: 540px;
  padding-top: 105px;
  padding-bottom: 125px;
}

.family-text {
  font-family: DM Serif Display;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 64px;
  letter-spacing: -1px;
  color: #FFFFFF;
  margin-bottom: 30px ;
  }

.chiziq-one{
  border-top: 1px solid #fff;
  width: 150px;
}

/* .family-text::before{
  width: 50px;
  background-image: 1px solid #fff;
  background-position-y: 50px ;

} */

.family-texts {
font-family: Karla;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
margin-bottom: 40px;
}

.view-plans {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
border: 1px solid #fff;
padding: 13px 28px;
transition: all 0.5s ease;
}
.view-plans:hover{
cursor: pointer;
background-color: #fff;
color: #2C2830;
border: 1.5px solid #2C2830;
box-sizing: border-box;
}

.photo-family{
background-image: url("../img/hero-people.jpg");
background-size: 540px 650px;
background-repeat: no-repeat;
width: 540px;
height: 650px;
position: absolute;
margin-left: 580px;
margin-top: 105px;
}


/* .family-alltexts:after{
  display: block;
  width: 540px;
  height: 650px;
  content: "";
background-image: url("../img/hero-people.jpg");
background-size: 540px 650px;
background-repeat: no-repeat;
} */

.photo-family-and-texts{
  display: flex;
}



/* FEATURES */

.we-different {
font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 72px;
line-height: 64px;
letter-spacing: -1px;
color: #2C2830;
}

.we-different::before{
  background-color: #9E96C6;
  width: 150px;
  height: 1px;
  content: "";
  display: block;
  margin-bottom:100px ;
}

.chaqmoq li::before{
  width: 86px;
  height: 86px;
  display: block;
  content: "";
  background-image: url("../img/lightning.svg");
  background-size: 86px 86px;
  background-repeat: no-repeat;
}

.pul li::before{
  width: 86px;
  height: 86px;
  display: block;
  content: "";
  background-image: url("../img/money.svg");
  background-size: 86px 86px;
  background-repeat: no-repeat;
}

.odamcha li::before{
  width: 86px;
  height: 86px;
  display: block;
  content: "";
  background-image: url("../img/user.svg");
  background-size: 86px 86px;
  background-repeat: no-repeat;
}

.imkoniyatlar {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.imkoniyatlar li h3{
font-family: DM Serif Display;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 38px;
letter-spacing: -0.388889px;
color: #2C2830;
}

.imkoniyatlar li{
  margin-right: 30px;
}

.imkoniyatlar li:nth-child(3){
  margin-right: 0;
}
.imkoniyatlar{
  margin-top: 96px;
  padding-left: 0;
}

.we-different{
  padding-top: 300px;
}


.chaqmoq {
  width: 400px;
}

.pul {
  width: 400px;
}

.odamcha {
  width: 400px;
}

.find-out-more-bg {
  background-color: #2D2641;
  /* width: 1160px; */
  height: 250px;
  left: 165px;
  top: 1617px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 156px;
  margin-bottom: 150px;
}
.find-out-more-text{
width: 475px;
}

.find-out {
  font-style: normal;
  font-weight: normal;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.777778px;
  color: #FFFFFF;
}

.find-button {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  border: 1px solid #fff;
padding: 13px 28px;
transition: all 0.5s ease;
}

.find-button:hover{
  cursor: pointer;
  background-color: #fff;
  color: #2C2830;
  border: 1.5px solid #2C2830;
  box-sizing: border-box;
  }
.footer-bg {
  background: #FAFAFA;
}

.f-logo-sotset {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 25px;
}

.sotset {
  display: flex;
  list-style: none;
  align-items: center;
}
.sotset li{
  margin-left: 16px;
}

.sotset-facebook::before{
  width: 24px;
  height: 24px;
  display: block;
  content: "";
  background-image: url("../img/icon-facebook.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.sotset-twitter::before{
  width: 24px;
  height: 24px;
  display: block;
  content: "";
  background-image: url("../img/icon-twitter.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.sotset-pinterest::before{
  width: 24px;
  height: 24px;
  display: block;
  content: "";
  background-image: url("../img/icon-pinterest.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}


.sotset-instagram::before{
  width: 24px;
  height: 24px;
  display: block;
  content: "";
  background-image: url("../img/icon-instagram.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
}

.sotset li:hover{
  cursor: pointer;
  color: #2C2830;
}

.footer-all {
  text-transform: uppercase;
  background: #FAFAFA;
}
.chiziq-foter{
width: 1100px;
height: 1px;
background: #DADADA;
transform: matrix(1, 0, 0, -1, 0, 0);
}

.f-ourcomp{
  width: 255px;
}
.helpme{
  width: 255px;
}

.f-contact{
  width: 255px;
}

.other{
  width: 255px;
}
.ourcompany {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}

.our-list li {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2D2641;
  list-style: none;
}

.our-list a {
  text-decoration: none;
  color: #2D2641;
}

.helpme {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}

.helpme-list li {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2D2641;
  list-style: none;
}

.helpme-list a {
  text-decoration: none;
  color: #2D2641;
}
.kontakt {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}

.kontakt-list li {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2D2641;
  list-style: none;
}
.kontakt-list a {
  text-decoration: none;
  color: #2D2641;
}
.other {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #837D88;
}
.other-list {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1.5px;
  color: #2D2641;
  list-style: none;
}
.other-list a {
  text-decoration: none;
  color: #2D2641;
}
.f-information {
  display: flex;
  padding-bottom: 55px ;
  padding-top: 45px;

}
.f-information ul{
  padding: 0;
}
.f-information li{
  margin-bottom: 16px;
}

.f-information h3{
  margin-bottom: 36px;
}

